html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eee;
}
#layout-container {
  min-height: 100%;
  position: relative;
}
#body {
  padding: 2em;
  padding-bottom: 7.5em;   /* Height of the footer + padding */
  text-align: center;
}
#footer {
  text-align: center;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.5em;   /* Height of the footer */
  padding: 1em;
}


#header {
    text-align: center;
    padding-top: 1em;
}

#board {
    margin: auto;
    display: inline;
    font-weight: bold;
}
#board td, #counters td {
    width: 2em;
    height: 2em;
    text-align: center;
    border: 1px solid #777;
    background-color: white;
    font-size: xx-large;
}
@media (max-width: 760px) {
    #board td, #counters td {
        width: 2em;
        height: 2em;
        font-size: x-large;
    }
}

#board td:nth-child(3n) {
    border-right-width: 2px;
}
#board td:first-child {
    border-left-width: 2px;
}
#board tr:nth-child(3n) td {
    border-bottom-width: 2px;
}
#board tr:first-child td {
    border-top-width: 2px;
}

#notes {
    text-align: center;
    float: left;
}
#notes textarea {
    border: 2px solid #777;
    width: 21em;
    height: 19em;
}
#buttons {
    width: 21em;
    float: right;
}
#buttons button {
    display: block;
    margin: auto;
    margin-top: 1em;
}

#counters table {
    border: 2px solid #777;
    margin: auto;
    margin-top: 1em;
}
#counters td {
    padding: 0.5em;
}
#counters thead {
    font-weight: lighter;
    color: #aaa;
}

#selectNumber button {
    background-color: #ccc;
    margin: 0.2em;
    border: none;
    width: 1.5em;
}
#selectNumber button:last-child {
    width: 5.3em;
}

.permanent {
    color: #aaa;
    font-weight: lighter!important;
}
.mistake {
    font-weight: bold;
    background-color: lightcoral!important;
}
.highlight {
    background-color: lightskyblue!important;
    color: black;
}
.softHighlight {
    background-color: rgb(214, 239, 255)!important;
    color: black;
}
.won {
    background-color: lightgreen!important;
}
.potential {
    color: lightseagreen;
    pointer-events: none;
    font-size: medium;
    vertical-align: text-bottom;
}
.glow {
    animation-name: glow-fade;
    animation-duration: 2s;
}
@keyframes glow-fade {
    0% {
      text-shadow: 0px 0px 5px gold;
    }
    100% {
      text-shadow: 0px 0px 0px gold;
    }
  }

#gameDifficulty {
    text-transform: capitalize;
    height: 2em;
}

#userInputString {
    width: 100%;
}

a.btn {
    margin-top: 1em;
    margin-bottom: 1em;
}

.sm-board td {
    width: 1em!important;
    height: 1em!important;
}
.red {
    color: red;
    font-weight: bold;
}
.row-col-block-board tr:nth-of-type(2) {
    border: 4px solid red!important;
}
.blue {
    color: blue;
    font-weight: bold;
}
.row-col-block-board tr td:nth-of-type(4) {
    border-right: 4px solid blue!important;
    border-left: 4px solid blue!important;
}
.row-col-block-board tr:first-of-type td:nth-of-type(4) {
    border-top: 4px solid blue!important;
}
.row-col-block-board tr:last-of-type td:nth-of-type(4) {
    border-bottom: 4px solid blue!important;
}
.green {
    color: green;
    font-weight: bold;
}
.row-col-block-board tr:nth-of-type(3n + 6) td:nth-of-type(n + 7) {
    border-bottom: 4px solid green!important;
}
.row-col-block-board tr:nth-of-type(n + 7) td:nth-of-type(3n + 6) {
    border-right: 4px solid green!important;
}

p {
    width: 50%;
    margin: auto;    
    padding: 2em;
}
@media(max-width: 760px) {
    p {
        width: 100%;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}